doctype html
html




  head
    title=title
    if !href
      link(rel='stylesheet', href='/stylesheets/style.css')
    else
      link(rel='stylesheet', href=href)
    block script
  body
    block content
