extends layout

block script
    script.
        window.onload = function () {
            var firmaCB = document.getElementById('Firma-name-checkbox');
            var maCB    = document.getElementById('MA-ID-checkbox');
            var vnameCB = document.getElementById('MA-VName-checkbox');
            var nnameCB = document.getElementById('MA-NName-checkbox');

            var firmaInput = document.getElementById('Firma-name');
            var vnameInput = document.getElementById('MA-VName');
            var nnameInput = document.getElementById('MA-NName');
            var maInput    = document.getElementById('MA-ID');


            let event = function () {
                if (maCB.checked) {
                    firmaCB.disabled = true;
                    vnameCB.disabled = true;
                    nnameCB.disabled = true;
                    firmaInput.disabled = true;
                    vnameInput.disabled = true;
                    nnameInput.disabled = true;

                } else {
                    firmaCB.disabled = false;
                    vnameCB.disabled = false;
                    nnameCB.disabled = false;
                    firmaInput.disabled = false;
                    vnameInput.disabled = false;
                    nnameInput.disabled = false;
                }
            }

            let addListener = function(CB, Input){
                CB.addEventListener('change', function () {
                    if (CB.checked) {
                        Input.setAttribute("required", "")
                        Input.attributes.required = true;
                    } else {
                        Input.removeAttribute("required")
                        Input.attributes.required = false;
                    }
                })
            }

            event()

            maCB.addEventListener('change', function () {
                event()
            })

            addListener(vnameCB, vnameInput);
            addListener(nnameCB, nnameInput)
            addListener(maCB, maInput);
            addListener(firmaCB, firmaInput);



        }


block content
    form(method='POST' action='/searchMA')

        input#Firma-name-checkbox.form-control(type='checkbox' name='firmaCB' )
        label(for='Firma-name') FIRMA NAME:
                select#Firma-name(name = 'firmaName' )
                    option(value="") unselected
                    each item in table.firma
                        option=item
        br

        input#MA-ID-checkbox.form-control(type='checkbox' name='maCB')
        label(for='MA-ID') K-nummer:
        input#MA-ID.form-control(type='text' placeholder='K-Nummer' name='maID' )
        br

        input#MA-VName-checkbox.form-control(type='checkbox' name='vnameCB')
        label(for='MA-VName') Vorname:
        input#MA-VName.form-control(type='text' placeholder='MA Vorname' name='maVname' )
        br

        input#MA-NName-checkbox.form-control(type='checkbox'  name='nnameCB')
        label(for='MA-NName') Nachname:
        input#MA-NName.form-control(type='text' placeholder='MA Nachname' name='maNname' )
        br

        input#tableName(type='hidden' name='search' value='MITARBEITER')
        button.btn.btn-primary(type='submit') Search

        div.main-table
            table
                tr
                each th_text in head
                    th=th_text

                -var length = typeof values === 'undefined' ? 0 : values.length;
                -for(let i = 0; i<length; i++)
                    tr
                    each td_text in values[i]
                        td=td_text